@{
    ViewData["Title"] = "Run Confirmation";
}

<h4 class="text-center">This Report Status Is Moved To "Working"</h4>
<h3 class="text-center">Please use the link below to return to "Shiftbid" page</h3>
<a class="btn btn-primary" asp-controller="Shiftbid" asp-action="Index">Shiftbid</a>